.notifications-manager {
    width: 3rem;
}

.notifications-manager .fa-bell {
    font-size: 1.2rem;
    position: relative;
    top: 2px;
    left: 12px;
}

.notifications-manager .badge {
    background-color: red; /*#ffa90b;*/
    position: relative;
    top: -10px;
    left: 2px;
    width: 22px;
    height: 22px;
    font-size: 0.8rem;
    padding: 5px 4px;
    border-radius: 25px;
}

li a .notifications-manager .notifications-list {
    width: 450px;
    height: 0px;
    color: white;
    background: #393c43;/*565a62*//*282c34*/
    border: 1px solid #0072bb;
    border-radius: 0px 0px 10px 10px;
    border-width: 0px;
    float: left;
    position: relative;
    top: 10px;
    left: calc(-450px + 8px + 2px + 3rem);
    visibility: hidden;
    transition: height 0.15s ease-out, border-width 0.15s ease-out, visibility 0s ease-out;

    box-shadow: 0px 0px 5px #0072bb;
}

li:hover  a .notifications-manager .notifications-list {
    border-width: 0px 2px 2px 2px;
    height: auto;
    visibility: visible;
    transition: height 0.25s ease-in, border-width 0s ease-in, visibility 0.5s ease-in;
}

.notifications-manager .notifications-list .notification .list-item {
    width: 5%;
    display: flex;
    align-items: center;
}

.notifications-manager .notifications-list .notification .list-content {
    width: 95%;
}

.notifications-manager .notifications-list .notification .list-item .badge {
    background-color: #b10049;/*#37bbed;*/ /*#ffa90b;*/
    width: 8px;
    height: 8px;
    font-size: 0.8rem;
    padding: 5px 4px;
    border-radius: 25px;
    display: block;
    position: initial;
}

.notifications-list .notification {
    height: auto;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #4e4d4d;/*#37bbed;*/
    text-transform: none;
    cursor: pointer;
    display: flex;
}

.notifications-list .notification:last-child {
    border-bottom: none;
    border-radius: 0px 0px 10px 10px;
}

.notifications-list .notification:hover {
    background: #232529;/*#282c34;*/ /*#0072bb;*/
    color: white;
}

.notifications-list .notification .notification-text {
    height: auto;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.1rem;
    padding-top: 10px;
    padding-bottom: 3px;
}

.notifications-list .notification .notification-timestamp {
    height: auto;
    width: 100%;
    /*text-align: right;*/
    font-size: 0.9rem;
    line-height: 1rem;
    /*font-style: italic;*/
    position: relative;
    /*top: -10px;*/
    color: #b10049;/*#37bbed;*/
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 10px;
}

.notifications-list .unseen {
    background: #1d9dd3;
    border-color: #878787;
    font-weight: bold;
}

.notification .notification-see-all {
    text-align: center;
    color: #b10049;/*#37bbed;*/
    font-size: 1rem;
    font-style: italic;
    height: 30px;
    font-weight: bolder;
    width: 100%;
}

.notifications-manager .notifications-list .notification .list-item .badge {
    background-color: #b0b0b0;
}

.notifications-manager .notifications-list .notification.unseen .list-item .badge {
    background-color: #b10049;/*#37bbed;*/
}

.notifications-manager .notifications-list .notification .list-content {
    color: #b0b0b0;
    font-weight: normal;
}

.notifications-manager .notifications-list .notification.unseen .list-content {
    color: white;
    /*font-weight: bold;*/
}

.notifications-manager .notifications-list .notification {
    background: #282c33;
    border: none;
}

.notifications-manager .notifications-list .notification.unseen {
    background: #135681;
    border: none;
}

.notifications-list .notification .notification-timestamp {
    color: #b0b0b0;
}

.notifications-list .notification.unseen .notification-timestamp {
    color: white;
}


/* HOVER STYLES */

.notifications-list .notification:hover, .notifications-list .notification.unseen:hover {
    /*border: 1px solid #009bff;*/
    background: #3b9dd3;
}

.notifications-list .notification:hover .list-content {
    color: white
}

.notifications-manager .notifications-list .notification:hover .list-item .badge {
    background-color: white;
}

.notifications-list .notification:hover .notification-timestamp, .notifications-list .notification:hover .notification-see-all {
    color: white;
}

/* END HOVER STYLES */