::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232529;/*#282c34;*/
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-sm-12 {
  flex: none;
}

.hidden {
  display: none;
}

.btn {
  margin: 0;
  font-size: 1rem;
  height: 48px;
}

input, select {
  height: 48px!important;
}

.btn-primary {
  background-color: #0072bb !important;
}

.btn-primary:not([disabled]):not(.disabled):active {
  background-color: #054c79 !important;
}

.btn-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-success:not([disabled]):not(.disabled):active {
  background-color: #006228 !important;
}

.alert {
  font-size: 1.5rem;
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  min-height: calc(100vh - 60px);
  display: block;
  color: white;
  background-color: #232529;/*#282c34;*/
  padding: 20px 20px 0px 20px;
  overflow: auto;
}

.main-content .header {
  height: 60px;
  border-bottom: 1px solid;
  border-color: #b10049;/*#37bbed;*/
}

.rdt_TableHeader {
  display: none!important;
}

.rdt_TableHeadRow .rdt_TableCol {
  font-size: 1.2rem;
}

.rdt_TableBody .rdt_TableRow {
  font-size: 1rem;
}

.bold {
  font-weight: bold;
}

.btn-circle {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  padding: 0;
  font-size: 1.5rem;
}

.modal-container h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid #b10049;/*#37bbed;*/
}

.modal-container h2, .modal-container label {
  color: white;
}

.help-block.error {
  color: red;
  margin-bottom: 0;
}

.no-border {
  border: none!important
}

.break-spaces {
  white-space: break-spaces;
}

.not-allowed {
  cursor: not-allowed !important;
}

.border-bottom {
  border-bottom: 1px solid #b10049 !important;
}

.fs-1-2 {
  font-size: 1.2rem;
}

.text-align-left {
  text-align: left;
}

.btn-non-action {
  background-color: #4a4848 !important;
}

.btn-non-action:hover {
  color: white !important;
}

.arrow-cursor {
  cursor: default !important;
}

.white-font {
  color: white;
}

.red-font {
  color: red
}

.custom-link:hover {
  color: #1472bb;
  text-decoration: none;
  transition: none;
}

.flex-end {
  justify-content: flex-end;
}

.one-rem {
  font-size: 1rem
}

.zero-nine-rem {
  font-size: 0.9rem
}

.one-five-rem {
  font-size: 1.5rem;
}

input.read-only, input.read-only:focus {
  background-color: #787878!important;
  color: white;
}

.vertical-align-center {
  display: flex;
  align-items: center;
}

.training-logs-console {
  max-height: 400px;
  overflow-y: scroll;
  background-color: black;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: monospace;
}

.button-spinner {
  padding-top: 8px;
  cursor: not-allowed !important;
  background-color: #9b721f !important;
}

.button-spinner .row {
  justify-content: center;
}

.button-spinner .spinner {
  height: 2rem;
  background: none;
  margin-left: 0;
  max-width: 25%;
}

.button-spinner .spinner .loader {
  width: 2rem;
  height: 2rem;
  border-width: 5px;
}

.word-break-all {
  word-break: break-all;
}

.text-align-right {    
  text-align: right;
}

.gen-info-container {
  border-bottom: 1px solid white;
  font-size: 1.2rem;
}

.gen-info-container .collapse-button-container {
  font-size: 1.5rem;
}

.gen-info-container .collapse-button-container i {
  cursor: pointer;
}

.gen-info-container .more-info {
  height: 0;
  visibility:hidden;
  opacity:0;
  transition: height 0.3s linear, visibility 0.3s linear, opacity 0.3s linear;
  display: none;
}

.gen-info-container .more-info.show {
  visibility:visible;
  opacity:1;
  height: auto;
  display: block;
}

.dropdown-toggle:after {
  display: none;
}
