nav {
    height: 60px;
    font-size: 1.3rem;
    font-weight: bolder!important;
}

header {
    background: #232529;/*#282c34;*/
}

.navbar {
    padding: 0 0 0 20px;
    min-height: 50px;
}

.navbar img {
    padding-top: 8px;
}

.navbar-collapse {
    float: right;
}

.navbar-nav {
    flex-direction: row!important;
}

.navbar-default .nav>li>a {
    padding: 10px 8px 10px 8px;
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #232529;/*#282c34;*/
    color: #fff;
}

header .navbar .username {
    text-transform: lowercase !important;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #b10049;/*#37bbed;*/
}