.notifications-container .notifications-header {
    padding: 1rem;
}

.notifications-container .notifications-filters label {
    font-size: 1.3rem!important;
    padding-right: 30px;
    color: white!important;
}

.notifications-container .notifications-filters input {
    width: 1rem;
    height: 1rem;
    bottom: 5px;
    margin: 10px;
}

.notifications-container .notification {
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 8px;
    border: 0.1rem;
    border-left: 30px solid;
    border-color: #333;
    background: #4d4d4d;
    margin-bottom: 1rem;
    font-weight: normal;
    cursor: pointer;
}

.notifications-container .notification:hover {
    box-shadow:
        1px 1px #373737,
        2px 2px #373737,
        3px 3px #373737,
        4px 4px #373737,
        5px 5px #373737,
        6px 6px #373737;
        -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
    transition: .5s ease;
}

.notifications-container .unseen {
    background: #135681;
    border-color: #878787;
    font-weight: bold;
}

.notifications-container .unseen .notification-timestamp {
    color: white;
}

.notifications-container .notification-text {
    padding-top: 30px;
    padding-bottom: 3px;
    line-height: 1.1rem;
    font-size: 1.1rem;
}

.notifications-container .notification-timestamp {
    text-align: right;
    font-size: 1.1rem;
    line-height: 1rem;
    font-style: bolder;
    color: white;
    padding-top: 0px;
    padding-bottom: 10px;
}

.notifications-container .check {
    margin: 1rem;
    width: 3%;
}

.notifications-container .notifications-actions {
    text-align: right;
}

.notifications-container .notification-content {
    width: 97%;
}

.notifications-container input[type=checkbox] {
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
}